%flex-row {
    display: flex;
    flex-direction: row;
}

%flex-row-c {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

%flex-row-sb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

%flex-row-fs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

%flex-row-fe {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

%flex-row-s {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-start;
}

%flex-row-se {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

%flex-col {
    display: flex;
    flex-direction: column;
}

%flex-col-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

%flex-col-sb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

%flex-col-sa {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

%flex-col-se {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

%flex-col-fs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

%flex-col-fe {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
