$MERGE-MAIN-COLOR: #50e3c2;
$MERGE-SECONDARY-COLOR: #37cdab;
$MERGE-DARK-COLOR: #33ba9c;
$GREEN: #287261;
$MAIN-DARK-COLOR: #111111;
$TEXT-LINK-COLOR: #4faefe;
$BUTTON-COLOR: #1f1f1f;
$ERROR-COLOR: #f1465a;
$LIGHT-GREY: #a3a3a3;
$GREY-BORDER-COLOR: #a6a6a6;
$MIDDLE-GREY: #515151;
$GREY: #898989;
$DARK-GREY: #333333;
$TEXT-COLOR: #ffffff;
$HOVER-ICON-COLOR: #f0f7f6;
$BLACK: #000000;

$base-font: 'Montserrat', sans-serif;
$title-font: 'Roboto Mono', monospace; 