@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Roboto+Mono:500,700');
@import 'variables';
@import 'mixines';
@import 'animations';
@import 'next-page-nav';
@import 'scroll';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    ::-webkit-scrollbar {
        width: 20px;
    }
    ::-webkit-scrollbar-thumb {
        cursor: pointer;
        z-index: 1000000;
        background: transparent;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
    }
}

body {
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    position: relative;
    @extend %flex-row-s;
    background-color: $MAIN-DARK-COLOR;
    align-items: center;
}

a,
button {
    cursor: pointer;
}

input,
input:invalid {
    box-shadow: none;
}

